* {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

/* Page Login*/

.login-container {
  display: flex;
  padding: 10%;
}

.login-form {
width: 50%;
padding: 5%;
background-color:#F5F5F5 ;
}

.login-form > form {
  display: flex;
  flex-direction: column;
  }

.login-form > img{
  display: block;
padding-bottom: 10%;
margin: 0 auto;
}

.login-form > h2 {
font-size: 35px;
color: #243E63;
text-align: center;
padding-bottom: 10%;
}

.login-form > form > label {
font-size: 25px;
color: #243E63;
font-weight: 500;
padding-bottom: 5%;
}

.login-form > form > input {
  border : 2px solid #6415FF;
  border-radius: 6px;
  padding: 2%;
  margin-bottom: 5%;
  width: 75%;
  }

  .login-form > form > button {
    border : none;
    background-color: #6415FF;
    color: white;
    border-radius: 6px;
    padding: 2%;
    margin-top: 5%;
    font-size: 20px;
    font-weight: 500;
    width: 80%;
    }


  